<h3>Order no: {{order.id}}</h3>
{% if order.status == "being prepared" %}
<font size="3" color="orange">Being Prepared</font><br>
{% elif order.status == "ready" %}
<font size="3" color="green">Ready</font><br>
{% elif order.status == "collected" %}
<font size="3" color="blue">Collected</font><br>
{% endif %}
{% for burger in order.burgers %}
    {{display(burger)}}
    <br>
{% endfor %}

{% for wrap in order.wraps %}
    {{display(wrap)}}
    <br>
{% endfor %}

{% if order.sides %}
    <b>Sides</b>
    {% for side in order.sides %}
        <li>{{side.name}}</li>
    {% endfor %}
    <br>
{% endif %}

{% if order.drinks %}
    <b>Drinks</b>
    {% for drink in order.drinks %}
        <li>{{drink.name}}</li>
    {% endfor %}
{% endif %}

Total: ${{"{:.2f}".format(order.price)}}
